awsebcli==3.12.4
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.ssl-match-hostname==3.5.0.1
blessed==1.14.2
botocore==1.9.6
branca==0.2.0
cement==2.8.2
certifi==2018.1.18
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
colorama==0.3.7
cycler==0.10.0
descartes==1.1.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
enum34==1.1.6
#Fiona==1.7.10
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
folium==0.5.0
functools32==3.2.3.post2
future==0.16.0
GDAL==2.2.2
#geopandas==0.3.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
matplotlib==2.1.2
munch==2.2.0
numpy==1.14.1
pandas==0.22.0
pathspec==0.5.5
psycopg2==2.7.4
pyparsing==2.2.0
pyproj==1.9.5.1
PySAL==1.14.2
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
requests==2.9.1
Rtree==0.8.3
scipy==0.19.0
semantic-version==2.5.0
Shapely==1.6.4.post1
singledispatch==3.4.0.3
six==1.11.0
sodapy==1.4.6
SQLAlchemy==1.2.4
subprocess32==3.2.7
tabulate==0.7.5
termcolor==1.1.0
tornado==4.5.3
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.47.0
Werkzeug==0.14.1
