<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mapping Police Complaints in Chicago</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/grayscale.min.css')}}" rel="stylesheet">
    <style>
      input[type=submit] {
        padding:5px 15px; 
        background:orange; 
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
    }
    </style>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Mapping Police Complaints</h1>
              <p class="intro-text">Visualizing hotspots of complaints 
                <br>about Chicago police by beat</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Now what do we have here</h2>
          <p>The Civilian Office of Police Accountability (<a href="http://www.chicagocopa.org/">COPA</a>), 
            an independent organization within the City of Chicago, collects and processes civilian complaints about police. 
            Below you will find a series of spatially corelated area maps of Police Beats with disproprotionately high numbers of complaints by the race of the person making the complaint.  
            <br> <br>This is the start of project to quantify and visualize the civilian side of police interactions.
          </p>
          <a href="#mapsection" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <section id="mapsection" class="map-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto" id="formdropdown">
            <h2>Please Select Parameter You Would Like Visualized in a hotspot map</h2>
            <form id ='raceForm' action="{{ url_for('index') }}" method ='post'>  
              <select required name = "race" value="">
                <option value = ""> Parameter </option>
                <option value = "black"> Black/African American </option>
                <option value = "white"> White/Caucasian </option>
                <option value = "hispanic"> Hispanic </option>
                <option value = "apia"> Asian/Pacific Islander </option>
                <option value = "unknown"> Unknown </option>
              </select>
              <input type="submit" value="Create" style='display:none'>
            </form>
            <div class="embed-responsive embed-responsive-1by1" style='margin-top: 1vw'>
            <iframe id ='racemap' class="embed-responsive-item" src='' }}></iframe>
              </div>
            <a href="#contact" class="btn btn-circle js-scroll-trigger">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </section>



    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact and Github</h2>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/robotvsbear" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/robotvsbears/policecomplaints/" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Made by Patrick Chang</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static',filename='js/grayscale.min.js')}}"></script>


    <!-- JQuery -->
    <!-- <script type=text/javascript src="{{
    url_for('static', filename='jquery.js') }}"></script> -->

    <script type=text/javascript src="{{
    url_for('static', filename='js/callMap.js') }}"></script>

    <script>
    window.onload = function() {
      
    }
    
    </script>
    </body>

</html>
